<!-- view_post.html -->
{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <!-- Display the current post -->
    <div class="card mb-4">
        <div class="card-header">
            <h1>{{ post.title }}</h1>
        </div>
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        <div class="card-body">
            <p>{{ post.description }}</p>
            <a href="{% url 'user_account' %}" class="btn btn-secondary mb-3">Back to Dashboard</a>
        </div>
    </div>

    <!-- Display other posts by the same author -->
    <h2 class="mb-4">Other Posts by {{ post.author.username }}</h2>
    <div class="row">
        {% for user_post in user_posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ user_post.image.url }}" class="card-img-top" alt="{{ user_post.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ user_post.title }}</h5>
                        <p class="card-text">{{ user_post.description|slice:":100" }}...</p>
                        <a href="{% url 'view_post' user_post.slug %}" class="btn btn-body-1">Read More</a>
                        <a href="{% url 'user_account' %}" class="btn btn-secondary mb-3">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No other posts by this author.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
