/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

/* General */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    color: #0f0f10;
    background: rgb(238, 245, 235) url('https://res.cloudinary.com/dbkvvtpi5/image/upload/v1722404791/background_image_z1mrm2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    padding-top: 70px; /* Adjust this value to match the height of your navbar */
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloock', serif;
    
}

a, a:hover {
    text-decoration: none;
    color: #04100D;
}

.text-link {
    text-decoration: none;
    color: #e68e0ac7;
    box-shadow: inset 0 -2px 0 0 #e68e0ac7;
    display: inline-block;
    transition: all .2s ease-in-out;
    padding: 0 3px;
}

.text-link:hover {
    border: none;
    box-shadow: inset 0 -25px 0 0 #e68e0ac7;
    color: #FFF;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    transition: all 300ms ease-in-out;
}

.navbar-brand {
    color: #e68e0ac7;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 700;
}

.nav-item {
    color: #e68e0ac7;
    transition: .4s;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #03780982;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.navbar-collapse .collapse .show {
    margin-bottom: 20px;
}

.navbar-toggler-icon {
    font-size: medium;
    margin: 0;
}

.signup-heading {
    font-family: 'Lobster', cursive;  /* Use a decorative font */
    font-size: 24px;                  /* Larger font size */
    text-align: center;               /* Center the text */
    margin-bottom: 20px;              /* Add space below the heading */
    background: linear-gradient(90deg, #f3a25c, #dd8b61); /* Soft background gradient */
    padding: 10px 20px;               /* Add padding for better spacing */
    border-radius: 8px;               /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}


/* General Button Styles */
button {
    border: none;
    cursor: pointer; /* Ensures cursor changes to pointer for buttons */
}

/* Button Group Container */
.button-group {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Space between buttons */
}

/* Specific Button Styles */
.btn-outline-danger {
    display: inline-flex; /* Ensure buttons are flex items */
    align-items: center; /* Center text inside buttons vertically */
    justify-content: center; /* Center text horizontally */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-align: center; /* Center text horizontally */
}

/* Optional: Remove default margin from buttons if needed */
.btn-outline-green, .btn-outline-danger {
    margin: 0; /* Ensure no unwanted margin */
}

.btn-green, .btn-outline-green {
    color: #0d0000;
    border-color: #e68e0ac7;
}

.btn-green {
    background-color: #e68e0ac7;
}

.btn-green:hover, .btn-outline-green:hover {
    background-color: #005f08cc;
    color: #fff;
}

.btn-outline-green-1 {
    color: #fff;
    background-color: #005f08cc;
    border: none;
}

.btn-body, .btn-body-1, .btn-secondary {
    color: #fff;
    border: 1px solid;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.btn-success{
    background-color: #005f08cc;
    color: #FFF;
}


.btn-body {
    background-color: #f57c00;
    border-color: #f57c00;
}

.btn-body:hover {
    background-color: #f57c00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-body-1 {
    background-color: #005f08cc;
    border-color: #005f08cc;
}

.btn-body-1:hover {
    background-color: #005f08cc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #005f08cc;
    border-color: #005f08cc;
}

.btn-secondary:hover {
    background-color: #003d05; /* Darker shade for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Bootstrap carousel - home page */
.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-img-1, .bg-img-2, .bg-img-3, .bg-img-4 {
    background-size: cover;
}

.bg-img-1 {
    background-image: url('https://res.cloudinary.com/ddvsgi5xw/image/upload/v1676912572/DJI_0170-HDR_2048_gjukis.webp');
}

.bg-img-2 {
    background-image: url('https://res.cloudinary.com/dbkvvtpi5/image/upload/v1722409001/background_image_6_gchx6h.webp');
}

.bg-img-3 {
    background-image: url('https://res.cloudinary.com/dbkvvtpi5/image/upload/v1722436532/background_image_8_sfw70e.jpg');
}

.bg-img-4 {
    background-image: url('https://res.cloudinary.com/dbkvvtpi5/image/upload/v1722409002/background_image_7_vtdsqi.jpg');
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, hsla(180, 5%, 83%, 0.6) 100%, hsla(165, 60%, 4%, 1) 100%);
    backdrop-filter: blur(3px);
}

/* Typography */
.display-2, .display-6 {
    font-family: 'Gloock', serif;
}

.display-2 {
    color: #04100D;
}

.display-6 {
    color: #003718;
}

/* Card Styles */
.card {
    border: 1px solid #e68e0ac7;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1.5rem; /* Adjust bottom margin for spacing */
}

.card-body h4{
  color: #0d0000;
}

.col-md-4 {
    display: flex;
    flex-direction: row;
}

.col-md-4 p {
  color: black;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-body {
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Ensure buttons align at the bottom */
}
.card-header, .card-body p{
    color: black;
}

.card-title {
    font-family: 'Gloock', serif;
    color: #04100D;
}

.card-text {
    color: hsl(0, 2%, 9%);
}

/* Adjust the index margins for spacing */
.mb-4, p  {
    margin-bottom: 1.5rem;
    color: white;
}

.mb-0, p{
    margin-bottom: 0rem !important;
    color: black;
}


.form-group-spacing {
    margin-bottom: 1rem; /* Adjust this value as needed */
  }
  
  .form-group-spacing p {
    margin-bottom: 1rem; /* Ensure spacing between fields */
  }
  
  .form-group {
    display: flex;
    flex-direction: column; /* Align items vertically */
  }
  
  .form-group label {
    margin-bottom: 0.5rem; /* Space between label and input */
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%; /* Ensure input fields take full width */
  
}

/* Container adjustments for responsive design (login)*/
.container-accounts {
    max-width: 100%; /* Full width on smaller screens */
    margin: auto; /* Center horizontally */
    padding: 1rem; /* Add padding */
  }
  
  @media (min-width: 576px) {
    .container-accounts {
      max-width: 540px; /* Adjust max-width for small screens */
    }
  }
  
  @media (min-width: 768px) {
    .container-accounts {
      max-width: 720px; /* Adjust max-width for medium screens */
    }
  }
  
  @media (min-width: 992px) {
    .container-accounts {
      max-width: 960px; /* Adjust max-width for large screens */
    }
  }
  
  @media (min-width: 1200px) {
    .container-accounts {
      max-width: 1140px; /* Adjust max-width for extra-large screens */
    }
  }
  
  /* Full-width buttons */
  .btn-w-100 {
    width: 100%;
  }
  
  /* Ensure form-group elements take full width on smaller screens */
  .form-group {
    width: 100%;
  }
  
  /* Additional styling for form elements(login) */
  .form-control {
    width: 100%; /* Ensure inputs take full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }


/* Responsive adjustments(user_account) */
@media (max-width: 768px) {
    .col-md-4 {
        width: 100%;
    }
    .col-md-8 {
        width: 100%;
    }
}

/* Profile Styles */
.profile-image-wrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto; /* Centers the wrapper itself horizontally */
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
}

.profile-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
}


.profile-info {
    flex: 1;
}

.profile-info h4 {
    margin-bottom: 0.5rem;
}

.profile-info p {
    margin-bottom: 1rem;
}

/* Spacing Utilities */
.mb-4 {
    margin-bottom: 1.5rem;
}

/* Form and Profile Styles */
.form-group {
    color: black;
}

.accounts-body h3, .accounts-body p {
    color: black;
}

textarea {
    resize: vertical;
}

/* Notification Bar */
.notification {
    position: fixed;
    top: 20px; /* Adjust the distance from the top of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the element */
    z-index: 1050; /* Ensure it's above other content */
    width: auto; /* Adjust width as needed */
    max-width: 90%; /* Optional: limit the width of the alert */
    text-align: center; /* Center text inside */
    padding: 10px; /* Add padding for better spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

/* Styling for individual alerts */
.alert {
    display: inline-block; /* Ensures alerts are not full-width */
    padding: 1rem 2.5rem; /* Increased padding-right to make space for the close button */
    border-radius: 0.375rem; /* Rounded corners */
    margin-bottom: 1rem; /* Space between multiple alerts */
    position: relative; /* Allows proper positioning of the close button */
    text-align: center; /* Center the text inside the alert */
    width: auto; /* Ensure the width fits the content */
}

/* Adjusting the close button position to prevent overlap */
.alert-dismissible .btn-close {
    position: absolute;
    top: 50%; /* Center vertically */
    right: 15px; /* Move it away from the right edge */
    transform: translateY(-50%); /* Center vertically */
    font-size: 1.2rem; /* Ensure the button is large enough */
    padding: 0; /* Remove extra padding from the button */
    line-height: 1; /* Prevent the button from expanding too much */
}

/* Success alerts */
.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Error alerts */
.alert-error{
    background-color: #f8d7da;
    color: #721c24;
}




/* Warning alerts */
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}



/* Google Map */
.google-map {
    border: 0;
    width: 100%;
    height: 500px;
    border-radius: 0.5rem;
}

/* Comment Section */
.comment {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comments-section {
    margin-top: 20px;
}

.comment form {
    display: inline;
}

/* Pagination Button Styles */
.page-link {
    color: #fff; /* Dark color for text */
    background-color: #005f08cc; /* Green background color */
    border-color: #005f08cc; /* Border color to match background */
    padding: 10px 20px; /* Padding for better appearance */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.page-link:hover {
    color: #fff; /* White text color on hover */
    background-color: #f57c00; /* Orange background color on hover */
    border-color: #f57c00; /* Border color to match hover background */
}


/* Footer */
.footer-link {
    color: #f57c00;
    text-decoration: none;
}

.footer-link:hover {
    color: #28a745;
    text-decoration: underline;
}

.footer {
    padding: 2rem 0;
    margin-top: auto;
}

/* Social Icons in Footer */
.social-icon {
    font-size: 1.5em;
    padding: 5px 5px;
    color: #003718;
}

.social-icon:hover {
    color: #005f08cc;
}

/* Notification Bar */
.notification-bar {
    background-color: #005f08cc;
    color: #fff;
    padding: 10px;
    text-align: center;
}
